PORT=3000
DB_BATCH_SIZE=500

DB_SHARD_0_HOST=localhost
DB_SHARD_0_PORT=5433
DB_SHARD_0_NAME=orders
DB_SHARD_0_USER=postgres
DB_SHARD_0_PASSWORD=postgres

DB_SHARD_1_HOST=localhost
DB_SHARD_1_PORT=5434
DB_SHARD_1_NAME=orders
DB_SHARD_1_USER=postgres
DB_SHARD_1_PASSWORD=postgres

DB_SHARD_2_HOST=localhost
DB_SHARD_2_PORT=5435
DB_SHARD_2_NAME=orders
DB_SHARD_2_USER=postgres
DB_SHARD_2_PASSWORD=postgres

# Google Cloud Storage (Authentication is discovered automatically via ADC)
GCS_BUCKET_NAME=your-gcs-bucket-name
GCP_PROJECT_ID=your-gcp-project-id
